In [1]:
d = {}
type(d)

dict

In [2]:
d1 = {'key': "sumit"}

In [3]:
d1

{'key': 'sumit'}

In [4]:
d2 ={"name":"sumit", "email":"maitra.sumit1234@gmail.com","number":1234566789}
d2

{'name': 'sumit', 'email': 'maitra.sumit1234@gmail.com', 'number': 1234566789}

In [6]:
d3 = {123: "sudh", @wer:"kumar"}

SyntaxError: invalid syntax (1616382929.py, line 1)

In [7]:
d3 = {123: "sudh", _wer:"kumar"}

NameError: name '_wer' is not defined

In [9]:
d3 = {123: "sudh", '@wer':"kumar", True : 212353}

In [14]:
d3

{123: 'sudh', '@wer': 'kumar', True: 212353}

In [16]:
d3[123]

'sudh'

In [17]:
d3[True]

212353

In [18]:
d3[1] #intertenally True 1 return

212353

In [19]:
d4 ={"name":"sumit", "email":"maitra.sumit1234@gmail.com","name":"dfsgfdg"} #overwrite with last"name"

In [20]:
d4

{'name': 'dfsgfdg', 'email': 'maitra.sumit1234@gmail.com'}

In [21]:
d4['name']

'dfsgfdg'

In [22]:
d5 = {"company":"pwskills","course": ["web dev", "data science", "java"]}

In [23]:
d5

{'company': 'pwskills', 'course': ['web dev', 'data science', 'java']}

In [25]:
d5['course']

['web dev', 'data science', 'java']

In [26]:
d5['course'][2]

'java'

In [27]:
d6 ={"number":[2,12,13,14,57], "assignments" :(1,2,3,4,5,6,7,8), "launch_date":{28,12,14},"class_time":{"web_dev":8,"data science":8,"java":"7"}} #list,tupple,set

In [28]:
d6

{'number': [2, 12, 13, 14, 57],
 'assignments': (1, 2, 3, 4, 5, 6, 7, 8),
 'launch_date': {12, 14, 28},
 'class_time': {'web_dev': 8, 'data science': 8, 'java': '7'}}

In [32]:
d6["class_time"]['java']

'7'

In [33]:
d6['mentor'] =["sudhansu","krish","anurag","hayder"]

In [34]:
d6

{'number': [2, 12, 13, 14, 57],
 'assignments': (1, 2, 3, 4, 5, 6, 7, 8),
 'launch_date': {12, 14, 28},
 'class_time': {'web_dev': 8, 'data science': 8, 'java': '7'},
 'mentor': ['sudhansu', 'krish', 'anurag', 'hayder']}

In [36]:
del d6['number']

In [37]:
d6

{'assignments': (1, 2, 3, 4, 5, 6, 7, 8),
 'launch_date': {12, 14, 28},
 'class_time': {'web_dev': 8, 'data science': 8, 'java': '7'},
 'mentor': ['sudhansu', 'krish', 'anurag', 'hayder']}

In [38]:
d6.keys()

dict_keys(['assignments', 'launch_date', 'class_time', 'mentor'])

In [39]:
list(d6.keys())

['assignments', 'launch_date', 'class_time', 'mentor']

In [40]:
list(d6.values())

[(1, 2, 3, 4, 5, 6, 7, 8),
 {12, 14, 28},
 {'web_dev': 8, 'data science': 8, 'java': '7'},
 ['sudhansu', 'krish', 'anurag', 'hayder']]

In [41]:
list(d6.items())

[('assignments', (1, 2, 3, 4, 5, 6, 7, 8)),
 ('launch_date', {12, 14, 28}),
 ('class_time', {'web_dev': 8, 'data science': 8, 'java': '7'}),
 ('mentor', ['sudhansu', 'krish', 'anurag', 'hayder'])]

In [42]:
d6.pop('assignments')

(1, 2, 3, 4, 5, 6, 7, 8)

In [43]:
d6

{'launch_date': {12, 14, 28},
 'class_time': {'web_dev': 8, 'data science': 8, 'java': '7'},
 'mentor': ['sudhansu', 'krish', 'anurag', 'hayder']}

In [44]:
d6.pop()

TypeError: pop expected at least 1 argument, got 0

In [45]:
#control statement

In [57]:
# marks =10
# if marks >= 80 :
#     print("part of A0 batch")
# elif marks >= 60 and marks < 80 :
#     print("part of A1 batch")
# elif marks >=40 and marks < 60 :
#     print("part of A2 batch")
# else :
#     print("part of A3 batch")

part of A3 batch

In [ ]:
10 >= 80

In [ ]:
marks = int(input("Enter Your marks:")) #input convert into string
if marks >= 80 :
    print("part of A0 batch")
elif marks >= 60 and marks < 80 :
    print("part of A1 batch")
elif marks >=40 and marks < 60 :
    print("part of A2 batch")
else :
    print("part of A3 batch")